.top-banner{
    background-color: black;
    color: white;
}
.side-image{
    width: 60%;
}
.side-image img{
    object-fit: cover;
    width: 100%;
}
.signup-form{
    width:40%;
}
.form{
    width: 70%;
    height: 85%;
    padding-right: 4rem;
    margin-top: auto;
}

form > input{
    border-bottom: 2px solid $secondary-grey;
    margin-top: 2rem;
}
form input::placeholder{
    font: 18px;
 }

 .footer-section{
    width: 20%;
 }
 .footer-section ul>*{
    margin-top: 1rem;
 }
 .mail{
    width: 65%;
 }
 .mail-contain{
    border: 2px solid white;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
 }
 .mail-contain::placeholder{
    font-size: 16px;
 }
 footer{
    font-size: 16px;
    background-color: black;
    color: white;
 }
 .footer-section > *:first-child{
    padding-bottom: 1rem;
 }
 .copy {
     border-top: 2px solid  $border-grey;
 }
 .ct input{
    padding: 0.8rem 0rem;
    font-size: 16px;
 }
 .ct input::placeholder{
    font-size: 16px;
 }
 .category-menu{
   border-right: 1px solid $secondary-grey;
 }
 .iphone-14{
   width: 55%;
   padding-top: 1rem;
 }
 .iphone-14 img{
   width: 100%;
   object-fit: cover;
 }
 .banner-content{
   width: 45%;
   margin: auto;
   padding-left: 3rem;
 }
 .banner{
   color: white;
   background-color: black;
   margin-left: 2rem;
   margin-top: 2rem;
 }
 .rect{
   height: 30px;
   width: 15px;
   background-color: $primary-orange;
   border-radius: 3px;
 }
 .time .timer-label{
   font-size: 12px;
   font-weight: 500;
 }
 .timer-value{
   font-weight: 700;
   font-size: 28px;
   font-family: $font-secondary;
 }
 .separator{
   font-size: 22px;
   color: $primary-orange;
   font-weight: 700;
 }
 .content-wrapper{
   display: flex;
   justify-content: space-between;
 }
.selling .discount-badge {
 visibility: hidden;
}
.drop-container{
  overflow: hidden;
}
.drop{
  height: 0px;
  transition: height 0.3s ease;
  overflow: hidden;
}
.show {
  height: 400px;
}

.cust-top{
  border-top: 1px solid $secondary-grey;
}
.notification {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.5s ease-in-out;
 }

.view{
 top: 20px;
  opacity: 1;
 }
.jbl{
  background-color: black
}
.cust-line{
  height: 1px;
  background-color: $secondary-grey;
  margin-top: 6rem;
}

.col-white{
  color: white;
}
.promo-image img{
  object-fit: contain;
  width: 70%;
}
.promo-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-unit .time{
  font-size: 16px;
  font-weight: 600;
}
.time-unit .label{
  font-size: 11px;
}
.countdown{
  display: flex;
  gap: 1.5rem;
}
.promo-content{
  padding: 2rem;
}

.time-unit{
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 50%;
} 
.buy-now{
  width: fit-content;
  background-color: #00ff66;
}
.promo-image{
  background: radial-gradient(
    circle at center, 
    rgba(200, 200, 200, 0.3) 40%, /* Softer light grey with reduced opacity */
    rgba(220, 220, 220, 0.15) 50%, /* Even more subtle light grey */
    rgba(240, 240, 240, 0) 60%    /* Fully transparent at 60% */
  );
}
