.top-banner{
    background-color: black;
    color: white;
}
.side-image{
    width: 60%;
}
.side-image img{
    object-fit: cover;
    width: 100%;
}
.signup-form{
    width:40%;
}
.form{
    width: 70%;
    height: 85%;
    padding-right: 4rem;
    margin-top: auto;
}

form > input{
    border-bottom: 2px solid $secondary-grey;
    margin-top: 2rem;
}
form input::placeholder{
    font: 18px;
 }

 .footer-section{
    width: 20%;
 }
 .footer-section ul>*{
    margin-top: 1rem;
 }
 .mail{
    width: 65%;
 }
 .mail-contain{
    border: 2px solid white;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    margin-top: 2rem;
 }
 .mail-contain::placeholder{
    font-size: 16px;
 }
 footer{
    font-size: 16px;
    background-color: black;
    color: white;
 }
 .footer-section > *:first-child{
    padding-bottom: 1rem;
 }
 .copy {
     border-top: 2px solid  $border-grey;
 }
 .ct input{
    padding: 0.8rem 0rem;
    font-size: 16px;
 }
 .ct input::placeholder{
    font-size: 16px;
 }
 .category-menu{
   border-right: 1px solid $secondary-grey;
 }
 .iphone-14{
   width: 55%;
   padding-top: 1rem;
 }
 .iphone-14 img{
   width: 100%;
   object-fit: cover;
 }
 .banner-content{
   width: 45%;
   margin: auto;
   padding-left: 3rem;
 }
 .banner{
   color: white;
   background-color: black;
   margin-left: 2rem;
   margin-top: 2rem;
 }
 .rect{
   height: 30px;
   width: 15px;
   background-color: $primary-orange;
   border-radius: 3px;
 }
 .content-wrapper{
   display: flex;
   justify-content: space-between;
 }
.selling .discount-badge {
 visibility: hidden;
}
.drop-container{
  overflow: hidden;
}
.drop {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  /* Transition max-height */
  overflow: hidden;
}
.show {
  min-height: fit-content;
}

.cust-top{
  border-top: 1px solid $secondary-grey;
}

.view{
 top: 20px;
  opacity: 1;
 }
.jbl{
  background-color: black
}
.cust-line{
  height: 1px;
  background-color: $secondary-grey;
  margin-top: 6rem;
}

.col-white{
  color: white;
}

.promo-content{
  padding: 2rem;
}

.buy-now{
  width: fit-content;
  background-color: #00ff66;
}
.dinaka{
  height: 100%;
  position: relative;
}
.text{
  position: absolute;
  left: 6%;
  top: 75%;
  color: white;
}
.rrr{
  position: absolute;
    left: 6%;
    top: 50%;
    color: white;
}
.r{
  position: absolute;
    left: 6%;
    top: 60%;
    color: white;
}
.service-container>div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.service-container>div img{
  width: 40%;
}
.service-container>div h3{
  font-weight: 600;
  font-size: 20px;
}
.service-container>div p {
  font-size: 14px;
}
